_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
*.DS_Store
.anthropic_token
.mapbox_token
.mastodon_social_token
.omdb_token
.openai_token
.readwise_token
.strava_token
.strava_token
.bundle/
vendor/
Library.xml
.aider*
node_modules/
**/.vt/

**/.claude/settings.local.json
_secrets.yml
