baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.joshbeckman.org" # the base hostname & protocol for your site, e.g. http://example.com
repo_edit_url: "http://github.com/joshbeckman/notes/edit/master/"

#######################################################################
# Settings related to the Header and your About page go here,such as 
# your name, site name, profile pic, site tagline, your bio, 
# your social media links etc
#######################################################################

title: Josh Beckman's Organization
description: Building in the open
copyright: 
  # year: 2023
  # msg: Josh Beckman
author:
  name: Josh Beckman
  uri: https://www.joshbeckman.org/about
  email: josh@joshbeckman.org
user:
  display: true # setting it to false will remove the header image and bio
                # Note that user settings come wholesale, it does not have the 
                # granular enabling or disabling as with the 'preferences'
                # or the site-wide settings.
  name: Josh Beckman
  bio: Writing about the practice of software engineering and other projects
  email: josh@joshbeckman.org
  photo: /assets/img/profile.png
  alt_link: www.joshbeckman.org
  social: # just leave the field blank or type in null, if you don't have a
          # particular social media account and it won't appear
    enabled: false  # turn this to true
    github: joshbeckman



#####################################################################
# Settings related to your preferences go here, such as the
# search results, wiki-style-links, sidenotes, marginnotes, 
# transclusion, pagepreview, backlinks, related posts, highlighting, 
# context menu, flashcards, sliding window, wrapping
#####################################################################
preferences:
  search:
    enabled: true
    shortcut_hint: 
        enabled: true
  wiki_style_link: # This property handles wiki style links '[['
    enabled: true
  sidenotes: 
    enabled: true
  transclusion:
    enabled: true
  image:
    enabled: true
  pagepreview:
    enabled: true
  highlighting:
    enabled: true
    color: DAEDFF # Takes hexadecimal and basic names like white, red, etc. 
                  # Do not add '#'(the pound symbol) before the hexadecimal number.
                  # In yml, it is considered as a comment
  backlinks:
    enabled: true
  related:
    enabled: true # This enables the posts that are related to each other by tags
  wrapping:
    enabled: true
  contextmenu:
    enabled: true
    copylink: 
      enabled: true
    newtab: 
      enabled: true
    backlinks: 
      enabled: true
    related: 
      enabled: true
  flashcards:
    enabled: true

encoding: utf-8

# Build settings
theme: null
plugins:
  - jekyll-feed
  - jekyll-github-alerts
  - jekyll-octicons
  - jekyll-sitemap
  - jekyll/mastodon_webfinger
  - jekyll-toc
  - jekyll-redirect-from
    # - jekyll-tidy
feed:
  disable_in_development: true
  posts_limit: 25
  categories:
    - blog
    - practicing
    - notes
    - replies
    - exercise

# Disqus Comments
# disqus:
    # Leave shortname blank to disable comments site-wide.
    # Disable comments for any post by adding `comments: false` to that post's YAML Front Matter.
    # shortname: foobar

markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
  math_engine: katex
  # smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter: rouge

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: Post
      permalink: /:categories/:title
      content-type: post


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
include:
  - .well-known/
exclude:
  - .aider.chat.history.md
  - .aider.conf.yml
  - .aider.input.history
  - .aider.tags.cache.v3/
  - .readwise_token
  - README.md
  - utilities/
  - "*.db"
  - "*.prompt.yml"
  - package.json
  - package-lock.json
  - vals/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# config jekyll-mastodon_webfinger
mastodon:
  username: joshbeckman
  instance: mastodon.social
# config jekyll-toc
toc:
  min_level: 1
  max_level: 6
  ordered_list: false
  no_toc_section_class: no_toc_section
  list_id: toc
  list_class: section-nav
  sublist_class: ''
  item_class: toc-entry
  item_prefix: toc-
