{%- if page.book -%}
  <div class="metadata">
    <h3 class="">
      Noted From:
    </h3>
    <cite class="source">
      <p>
        {%- if page.favicon_url -%}
          <img alt="favicon" src="{{page.favicon_url}}" class="source-favicon"/>
        {%- else -%}
          <span class="source-emoji">{{page.source_emoji}}</span>
        {%- endif -%}
        <span class="p-author h-card">
          {{page.author}}
        </span>
      </p>
      <h4>
        {%- if page.canonical -%}
          <a href="{{page.canonical}}" class="u-url" target="_blank">{{page.book_title}}</a>
        {%- elsif page.book_asin -%}
          <a href="https://www.amazon.com/foo/dp/{{page.book_asin}}/" target="_blank">{{page.book_title}}</a>
        {%- else -%}
          {{page.book_title}}
        {%- endif -%}
      </h4>
    </cite>
  </div>
{%- endif -%}
