{%- if page.show_book_meta -%}
  <div class="metadata">
    <h3 class="">
      Noted From:
    </h3>
    <cite class="source">
      <p>
        {%- if page.favicon_url -%}
          <img width=24 height=24 alt="favicon" src="{{page.favicon_url}}" class="source-favicon"/>
        {%- else -%}
          <span class="source-emoji">{{page.source_emoji}}</span>
        {%- endif -%}
        <span class="p-author h-card">
          {{page.author}}
        </span>:&nbsp;
        {%- if page.source_url -%}
          <a href="{{page.source_url}}" class="u-url source-url" target="_blank" rel="noopener noreferrer">{{page.book_title}}</a>
        {%- elsif page.canonical -%}
          <a href="{{page.canonical}}" class="u-url canonical-url" target="_blank" rel="noopener noreferrer">{{page.book_title}}</a>
        {%- elsif page.book_asin -%}
          <a href="https://www.amazon.com/foo/dp/{{page.book_asin}}/" class="asin-url" target="_blank" rel="noopener noreferrer">{{page.book_title}}</a>
        {%- else -%}
          {{page.book_title}}
        {%- endif -%}
      </p>
    </cite>
  </div>
{%- endif -%}
