    {%- assign content_array = content | split:'[[' -%}
    {%- assign external_link_delimiter = '::' -%}

    {%- assign link_joiner_delimiter = '$@' -%}
    {%- for item in content_array -%}
        {%- if forloop.index > 1 -%}
            {%- assign itemparts = item | split:']]' -%}
            {%- assign internal_link = itemparts[0] -%}
            {%- assign external_link = itemparts[0] | split:external_link_delimiter -%}
            {%- assign sidenote = itemparts[0] | split:sidenote_delimiter -%}
        
            {%- if external_link[1] == nil -%}
                {%- assign result_posts = site.posts | where: 'title',itemparts[0] -%}
                {%- assign result_pages = site.pages | where: 'title',itemparts[0] -%}
                {%- assign internal_links = internal_links | append: link_joiner_delimiter | append: internal_link -%}
                {%- assign internal_urls = internal_urls | append: link_joiner_delimiter | append: result_posts[0].url | append: result_pages[0].url -%}
            {%- else -%}
                {%- assign external_links = external_links | append: link_joiner_delimiter | append: external_link[0] -%}
                {%- assign external_urls = external_urls | append: link_joiner_delimiter | append: external_link[1] -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- assign internal_url_array = internal_urls | split:link_joiner_delimiter -%}
    {%- assign internal_link_array = internal_links | split:link_joiner_delimiter -%}

    {%- assign external_url_array = external_urls | split:link_joiner_delimiter -%}
    {%- assign external_link_array = external_links | split:link_joiner_delimiter -%}


    {%- assign replaced_content = content -%}
    {%- for title in internal_link_array -%}
        {%- assign url = internal_url_array[forloop.index0] -%}
        {%- if url == nil -%}
            {%- assign link_text = '<a class="stale-link" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' -%}
        {%- elsif url == empty -%}
            {%- assign link_text = '<a class="stale-link" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' -%}
        {%- else -%}
                {%- assign post = site.posts | where: 'title',title -%}
                {%- assign excerpt = post[0].content | markdownify | strip_html | truncate: 200 | newline_to_br -%}
        {%- endif -%}
        {%- assign bracket_link = '[[' | append: title | append: ']]' -%}
        {%- assign replaced_content = replaced_content | replace: bracket_link,link_text -%}
    {%- endfor -%}

    {%- for title in external_link_array -%}
        {%- assign url = external_url_array[forloop.index0] -%}
        {%- if url == "highlight" -%}
            {%- if site.preferences.highlighting.enabled -%}
                {%- assign link_text = '<span class="highlighted-text">' | append: title | append: '</span>' -%}
            {%- endif -%}
        {%- else -%}
            {%- assign link_text = '<a href="' | append: url | append: '">' | append: title | append: '</a>' -%}
        {%- endif -%}
        {%- assign bracket_link = '[[' | append: title | append: external_link_delimiter | append: url | append: ']]' -%}
        {%- assign replaced_content = replaced_content | replace: bracket_link,link_text -%}
    {%- endfor -%}

    {{ replaced_content | inject_anchors }}
<a class="p-author h-card" style="display: none;" href="https://www.joshbeckman.org/about">
    Josh Beckman
</a>
<div class="filing-row">
  <div class="filing-column">
    <div class="content">
      <p>Comment <a href="mailto:josh@joshbeckman.org?subject={{"RE: " | append: page.title | scgi_escape}}">via email</a></p>
      <h3 class="print-hidden">
      Filed Under
      </h3>
      <ul class="filed print-hidden">
          <!-- Loop through page categories and print them in tags -->
          {%- for item in site.data.decimals -%}
              {%- assign slug = item | split: ' ' | last | downcase -%}
              {%- for tag in page.tags -%}
                  {%- if tag == slug -%}
                      <li class="filed">
                          <a href="/tags/#{{ tag }}" class="">{{ item }}</a>
                      </li>
                  {%- endif -%}
              {%- endfor -%}
          {%- endfor -%}
          {%- if page.book -%}
              <li class="filed source">
                  <a href="/sources/#{{ page.book }}" class="">{{ page.book_title }}</a>
              </li>
          {%- endif -%}
          {%- if page.date -%}
          <li class="filed date">
            <a href="/dates/#{{ page.date | date: '%d-%B-%Y' }}">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y, %B %d' }}</time>
            </a>
          </li>
          {%- endif -%}
          <li class="filed edit">
          {%- if page.readwise_url -%}
            <a href="{{ page.readwise_url }}" target="_blank">Edit</a>
          {%- else -%}
            <a href="{{ page.path | prepend: site.repo_edit_url }}" target="_blank">Edit</a>
          {%- endif -%}
          </li>
      </ul>
    </div>
  </div>
  <div class="filing-column">
    <div class="content">
      <div class="vis-network-legend">
          <div class="legend-item">
              <a href="https://www.joshbeckman.org/blog/building-a-network-graph-site-index#legend" class="legend-item-link" target="_blank">
                  Legend
              </a>
          </div>
      </div>
      <div id="postnetwork" class="vis-network-container">
      </div>
    </div>
  </div>
</div>
