    {%- assign content_array = content | split:'[[' -%}
    {%- assign external_link_delimiter = '::' -%}

    {%- assign link_joiner_delimiter = '$@' -%}
    {%- for item in content_array -%}
        {%- if forloop.index > 1 -%}
            {%- assign itemparts = item | split:']]' -%}
            {%- assign internal_link = itemparts[0] -%}
            {%- assign external_link = itemparts[0] | split:external_link_delimiter -%}
            {%- assign sidenote = itemparts[0] | split:sidenote_delimiter -%}
            {%- if external_link[1] == nil -%}
            {%- else -%}
                {%- assign external_links = external_links | append: link_joiner_delimiter | append: external_link[0] -%}
                {%- assign external_urls = external_urls | append: link_joiner_delimiter | append: external_link[1] -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- assign external_url_array = external_urls | split:link_joiner_delimiter -%}
    {%- assign external_link_array = external_links | split:link_joiner_delimiter -%}

    {%- assign replaced_content = content -%}
    {%- for title in external_link_array -%}
        {%- assign url = external_url_array[forloop.index0] -%}
        {%- if url == "highlight" -%}
            {%- if site.preferences.highlighting.enabled -%}
                {%- assign link_text = '<span class="highlighted-text">' | append: title | append: '</span>' -%}
            {%- endif -%}
        {%- else -%}
            {%- assign link_text = '<a href="' | append: url | append: '">' | append: title | append: '</a>' -%}
        {%- endif -%}
        {%- assign bracket_link = '[[' | append: title | append: external_link_delimiter | append: url | append: ']]' -%}
        {%- assign replaced_content = replaced_content | replace: bracket_link,link_text -%}
    {%- endfor -%}

    {%- if page.encrypted_payload -%}
<div class="encrypted-content" data-key-id="{{ page.encrypted }}">
    <script type="application/json" class="encrypted-payload">{{ page.encrypted_payload | jsonify }}</script>
    <noscript>This content is encrypted and requires JavaScript to decrypt.</noscript>
</div>
    {%- else -%}
    {{ replaced_content | wrap_media | inject_anchors }}
    {%- endif -%}
<a class="p-author h-card" style="display: none;" href="https://www.joshbeckman.org/about">
    Josh Beckman
</a>
