<div class="footer">
    <ul>
      <li>*️⃣ <a href="/search">Search</a></li>
      <li>#️⃣ <a href="/tags">Index</a></li>
      <li>🔀 <a href="/random">Random</a></li>
      <li>📶 <a href="/subscribe">Subscribe</a></li>
    </ul>
</div>
<script async src="/assets/js/photoswipe.umd.min.js"></script>
<script async src="/assets/js/photoswipe-lightbox.umd.min.js"></script>
<script>
function searchInitListener() {
  let searchInput = document.getElementById("search-input");
  if (window.location.pathname == "/search/") {
    searchInput.focus();
  }
  // debounce this listener
  (function () {
    let debounce = false;
    document.addEventListener("keyup", function (e) {
      if (debounce) {
        return;
      }
      debounce = true;
      setTimeout(function () {
        debounce = false;
      }, 200);
      var evt = window.event || e;
      let key = evt.keyCode || evt.which;
      if (e.ctrlKey && key == 83) {
        if (searchInput) {
          searchInput.focus();
        } else {
            window.location.href = "/search";
        }
      } else if (e.ctrlKey && key == 82) {
        window.location.href = "/random";
      }
      });
  })();
}
searchInitListener();

(function hideDuplicateImages() {
    let headerImages = document.querySelectorAll('header img');
    let articleImages = document.querySelectorAll('article section img');
    let headerImageSrcs = headerImages.length > 0 ? [].slice.call(headerImages).map(function (img) {
        return img.src;
    }) : [];
    for (let i = 0; i < articleImages.length; i++) {
        let img = articleImages[i];
        if (headerImageSrcs.indexOf(img.src) > -1) {
            img.parentNode.removeChild(img);
        }
    }
})();

function prepareImagesForLightbox() {
    let images = document.querySelectorAll('article section img, header img');
    for (let i = 0; i < images.length; i++) {
        if (images[i].classList.contains('no-lightbox')) {
            continue;
        }
        let img = images[i];
        let a = document.createElement('a');
        a.href = img.src;
        a.classList.add('ps');
        a.dataset.pswpWidth = img.naturalWidth;
        a.dataset.pswpHeight = img.naturalHeight;
        img.parentNode.insertBefore(a, img);
        a.appendChild(img);
    }
    var lightbox = new PhotoSwipeLightbox({
        gallery: 'article section, header',
        children: 'a.ps',
        pswpModule: PhotoSwipe
    });
    lightbox.init();
}
window.addEventListener('load', prepareImagesForLightbox);

(function logoAnimator() {
  var paths = document.querySelectorAll('.name-svg path');
  var lastPathIndex = paths.length - 1;
  [].slice.call(paths).map(function(path) {
    path.setAttribute('stroke-dasharray', path.getTotalLength());
    path.setAttribute('stroke-dashoffset', path.getTotalLength());
  });
  if (paths.length > 0) {
    animateNamePath(paths[0], 0);
  }
  function animateNamePath(path, index) {
    function step() {
      var value = parseFloat(path.getAttribute('stroke-dashoffset'));
      if (value <= 1) {
        if (index < lastPathIndex) {
          animateNamePath(paths[index + 1], index + 1);
        }
        return;
      }
      var speed = value > 100 ? 12 : (value > 75 ? 10 : (value > 50 ? 8 : (value > 25 ? 6 : 1)));
      path.setAttribute('stroke-dashoffset', value - speed);
      requestAnimationFrame(step);
    }
    requestAnimationFrame(step);
  }
})();
</script>
