<div class="footer">
{%- if site.copyright.msg != nil and site.copyright.msg != empty and site.copyright.msg != null -%}
<div id="copyright">
    <p id="copyright-notice">© {{site.copyright.msg}}. {{site.copyright.year}}</p>
</div> 
{%- endif -%}
</div> 
<script>
function searchInitListener() {
  let searchInput = document.getElementById("search-input");
  if (window.location.pathname == "/search/") {
    searchInput.focus();
  }
  document.onkeyup = function (e) {
    var evt = window.event || e;
    let key = evt.keyCode || evt.which;
    if (e.shiftKey && key == 83) {
      if (searchInput) {
        searchInput.focus();
      } else {
          window.location.href = "/search";
      }
    }
  };
}
searchInitListener();
</script>
