<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="{{site.title}}" property="og:site_name"/>
<meta content="{{ site.url }}/about/" property="article:author">
{%- if page.title -%}
<meta content="{{ page.title }}" property="og:title">
<title>{{page.title}} ({{site.heading}})</title>
{%- else -%}
<meta content="{{ site.heading }}" property="og:title">
<title>{{site.heading}}</title>
{%- endif -%}
{% if page.permalink == '/' %}
<meta content="website" property="og:type">
{%- else -%}
<meta content="article" property="og:type">
{%- endif -%}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{%- if page.description -%}
<meta content="{{ page.description}}" name="description">
<meta content="{{ page.description}}" property="og:description">
{%- else -%}
<meta content="{{ page.content | strip_html | strip | escape | truncate: 248 }}" name="description">
<meta content="{{ page.content | strip_html | strip | escape | truncate: 248 }}" property="og:description">
{%- endif -%}
{%- if page.image -%}
    {%- assign local = page.image | match: '^\/assets' -%}
    {%- if local -%}
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    {%- else -%}
    <meta property="og:image" content="{{page.image}}">
    {%- endif -%}
<meta property="og:image" content="{{page.image}}">
{%- else -%}
<meta property="og:image" content="{{site.url}}/assets/img/profile.png">
{%- endif -%}
<link rel="canonical" href="{{site.url}}{{page.url}}"/>
<link rel="apple-touch-icon" href="{{site.url}}/assets/img/profile.png">
<link rel="mask-icon" href="{{site.url}}/assets/img/profile.png" color="#903465">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#903465">
<meta name="theme-color" content="#903465">
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16"/>
<link href="/assets/css/site.css" rel="stylesheet" media="all" class="default" />
<link href="/assets/css/photoswipe.css" rel="stylesheet" media="all" class="default" />
<!--[if IE]>
    <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
<![endif]-->
{% feed_meta %}
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
<link rel="me" href="https://mastodon.social/@joshbeckman"\>
<link rel="me" href="https://github.com/joshbeckman"\>
<link rel="me" href="mailto:josh@joshbeckman.org"\>
</head>
