{%- comment -%}
*
* This file contains the markup for the site heading, subheading, user description, 
*  user avatar, searchbar, site tagline.
*
{%- endcomment -%}

<header>
  <nav>
    <ul>
      <li><a class="blog-title" href="/">{{site.heading}}</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tags">Index</a></li>
      <li><a href="/random">Random</a></li>
      <li><a href="/feed.xml">RSS Feed</a></li>
      <li><a href="https://www.joshbeckman.org/subscribe">Newsletter</a></li>
    </ul>
  </nav>
</header>
<header>
    {%- if site.preferences.search.enabled -%}
    <div class="searchbar search-container">
        <label for="search-input"></label>
        <input type="text" id="search-input" autocomplete="off" placeholder="Search {{site.heading}}..."/>
        <div id="search-results" class="search-results"></div>
    </div>
    <script async type="text/javascript" src="/assets/js/vendor/lunr.min.js"></script>
    <script async src="/assets/js/Search.js"></script>
    {%- endif -%}
</header>

