<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="{{site.title}}" property="og:site_name"/>
<meta content="{{ site.url }}/about/" property="article:author">
<meta name="fediverse:creator" content="@joshbeckman@mastodon.social">
{%- if page.title -%}
<meta content="{{ page.title }}" property="og:title">
<title>{{page.title}}</title>
{%- else -%}
<meta content="{{ site.title }}" property="og:title">
<title>{{site.title}}</title>
{%- endif -%}
{% if page.permalink == '/' %}
<meta content="website" property="og:type">
{%- else -%}
<meta content="article" property="og:type">
{%- endif -%}
{%- if page.searchable == false -%}
<meta name="robots" content="noindex">
{%- endif -%}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{%- if page.description -%}
<meta content="{{ page.description}}" name="description">
<meta content="{{ page.description}}" property="og:description">
{%- elsif page.rating -%}
<meta content="Rating: {{ page.rating}}/5" name="description">
<meta content="Rating: {{ page.rating}}/5" property="og:description">
{%- else -%}
<meta content="{{ page.content | strip_html | strip | escape | truncate: 248 }}" name="description">
<meta content="{{ page.content | strip_html | strip | escape | truncate: 248 }}" property="og:description">
{%- endif -%}
{%- if page.image -%}
    {%- assign local = page.image | match: '^\/assets' -%}
    {%- if local -%}
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    {%- else -%}
    <meta property="og:image" content="{{page.image}}">
    {%- endif -%}
<meta property="og:image" content="{{page.image}}">
{%- else -%}
<meta property="og:image" content="{{site.url}}/assets/img/profile.png">
{%- endif -%}
<link rel="canonical" href="{{site.url}}{{page.url}}"/>
<link rel="apple-touch-icon" href="{{site.url}}/assets/img/profile.png">
<link rel="mask-icon" href="{{site.url}}/assets/img/profile.png" color="#903465">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#903465">
<meta name="theme-color" content="#903465">
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/assets/img/profile.png" type="image/png" sizes="16x16"/>
<link href="/assets/css/site.css" rel="stylesheet" media="all" class="default" />
<link rel="preload" href="/assets/css/photoswipe.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link href="/assets/css/photoswipe.css" rel="stylesheet" media="all" class="default" fetchpriority="low" />
</noscript>
{%- endif -%}
{% feed_meta %}
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
<link rel="me" href="https://mastodon.social/@joshbeckman"\>
<link rel="me" href="https://bsky.app/profile/joshbeckman.org"\>
<link rel="me" href="https://github.com/joshbeckman"\>
<link rel="me" href="mailto:josh@joshbeckman.org"\>
<link rel="webmention" href="https://webmention.io/www.joshbeckman.org/webmention" />
<link rel="pingback" href="https://webmention.io/www.joshbeckman.org/xmlrpc" />
</head>
