<script type="text/javascript">
async function getVisData() {
  let response = await fetch("/assets/js/VisData.json");
  let responseText = response.text();
  return responseText;
}
{% if include.post %}
  var networkContainer = document.getElementById("postnetwork");
{% else %}
  var networkContainer = document.getElementById("mynetwork");
{% endif %}
function prepareNetwork(nodeData, edgeData) {
  var postId = null;
  {% if include.post %}
    postId = "{{ include.post.url }}";
    var firstDegree = edgeData.filter(function (edge) {
      return edge.from === postId || edge.to === postId;
    });
    // filter edgeData to only include items that have a 'from' or 'to' that matches a 'from' or 'to' in firstDegree
    edgeData = edgeData.filter(function (edge) {
      for (var i = 0; i < firstDegree.length; i++) {
        if (firstDegree[i].from === edge.from || firstDegree[i].to === edge.to) {
          return true;
        }
      }
      return false;
    });
    // filter nodeData to only include items that have and id that matches an item's from or to in edgeData
    nodeData = nodeData.filter(function (node) {
      for (var i = 0; i < edgeData.length; i++) {
        if (edgeData[i].from === node.id || edgeData[i].to === node.id) {
          return true;
        }
      }
      return false;
    });
    // set the `color` to "#FFCC00" on the item in nodeData that has an id matching postId
    nodeData = nodeData.map(function (node) {
      if (node.id === postId) {
        node.color = "#FFCC00";
      }
      return node;
    });
  {% endif %}
// iterate through the items in nodeData and set their `value` to the count of edges touching them
nodeData = nodeData.map(function (node) {
  var count = 0;
  for (var i = 0; i < edgeData.length; i++) {
    if (edgeData[i].from === node.id || edgeData[i].to === node.id) {
      count++;
    }
  }
  node.value = count;
  return node;
});
// filter out items from nodeData that have an id matching '/sources/#' and a value less than 2
nodeData = nodeData.filter(function (node) {
  return !(node.id.match(/\/sources\/#/) && node.value < 2);
});
// read the comma-separated list of ids from the session storage key sessionPath
// iterate through the edgeData and set the color to red if the 'from' and 'to' are in the sessionPath list
  var sessionPath = window.sessionStorage.getItem('sessionPath');
  if (sessionPath) {
    var urls = sessionPath.split(',');
    for (var i = 0; i < edgeData.length; i++) {
      if (urls.includes(edgeData[i].from) && urls.includes(edgeData[i].to)) {
        edgeData[i].color = "#DA291C";
      }
    }
  }
  var nodes = new vis.DataSet(nodeData);
  var edges = new vis.DataSet(edgeData);
  var data = {
    nodes: nodes,
    edges: edges,
  };
  var options = {
      interaction: {
        tooltipDelay: 100,
      },
      edges: {
        selectionWidth: 2,
        color: "#004B87",
        smooth: {
          enabled: false,
        },
      },
      groups: {
        tags: {
          color: {
            background: '#F37021',
          },
        },
        posts: {
          color: {
            background: '#96D0E5',
          },
        },
      },
    physics: {
      enabled: false,
    }
  };
  var network = new vis.Network(networkContainer, data, options);
  network.on("doubleClick", function (params) {
    if (params.nodes.length > 0) {
      window.location.href = params.nodes[0];
    }
  });
}
window.addEventListener('load', function() {
  function buildVisData() {
    var script = document.createElement('script');
    script.src = '/assets/js/vendor/vis-network.min.js';
    script.onload = function() {
      getVisData().then(function(data) {
        data = JSON.parse(data);
        prepareNetwork(data.nodes, data.edges);
      }).catch(function(error) {
        console.error('Error fetching VisData.json:', error);
      });
    };
    document.body.appendChild(script);
  }
  var details = document.querySelector('.post-network details');
  if (details) {
    details.addEventListener('toggle', function() {
      if (details.open) {
        if (window.goatcounter && window.goatcounter.count) {
          window.goatcounter.count({ path: 'widget-network-graph-open', title: 'Network graph widget', event: true });
        }
        buildVisData();
      }
    });
  } else {
    // only call buildVisData if the networkContainer is visible in the viewport
    if (networkContainer.getBoundingClientRect().top < window.innerHeight) {
      buildVisData();
    } else {
      window.addEventListener('scroll', function() {
        if (networkContainer.getBoundingClientRect().top < window.innerHeight) {
          buildVisData();
          window.removeEventListener('scroll', this);
        }
      });
    }
  }
});
</script>
