<script
  async
  type="text/javascript"
  src="/assets/js/vendor/vis-network.min.js"
></script>
<script type="text/javascript">
function prepareNetwork() {
  var nodeData = [
{% if include.post %}
    // include the post itself
    { id: "{{ include.post.url }}", label: "@", title: "{{ include.post.title | replace: '"', "'" }}", group: "posts", shape: "box", color: "#FFCC00"},
    {%- assign md_link_url = '' | append: include.post.url -%}
    // include the source
    {% if include.post.book != nil %}
      { id: "/sources/#{{ include.post.book }}", label: "#", title: "{{ include.post.book_title | replace: '"', "'" }}", group: "tags", shape: "circle"},
    {% endif %}
    {% for post in site.posts %}
      {% if include.post.book != nil %}
        // include posts from the same source
        {% if post.book == include.post.book %}
          { id: "{{ post.url }}", label: "✎", title: "{{ post.title | replace: '"', "'" }}", group: "posts", shape: "box"},
        {% endif %}
      {% endif %}
      // include posts with a backlink
      {% if post.content contains md_link_url %}
        { id: "{{ post.url }}", label: "✎", title: "{{ post.title | replace: '"', "'" }}", group: "posts", shape: "box"},
      {% endif %}
    {% endfor %}
    // include the tags
    {% for tag in include.post.tags %}
    { id: "/tags/#{{ tag }}", label: "#", title: "{{ tag | capitalize }}", group: "tags", shape: "circle"},
      {% for post in site.posts %}
        {% if post.tags contains tag %}
        // include posts with the same tag
        { id: "{{ post.url }}", label: "✎", title: "{{ post.title | replace: '"', "'" }}", group: "posts", shape: "box"},
        {% endif %}
      {% endfor %}
    {% endfor %}
{% else %}
    {% for post in site.posts %}{ id: "{{ post.url }}", label: "✎", title: "{{ post.title | replace: '"', "'" }}", group: "posts", shape: "box"},{% endfor %}
    {% for tag in site.tags %}{ id: "/tags/#{{ tag.first }}", label: "#", title: "{{ tag.first }}", group: "tags", shape: "circle"},{% endfor %}
{% endif %}
  ];
  // make sure the items in nodeData are unique
  nodeData = nodeData.filter((v,i,a)=>a.findIndex(t=>(t.id === v.id))===i);
  var edgeData = [
{% if include.post %}
  {%- assign md_link_url = '' | append: include.post.url -%}
  {% for tag in include.post.tags %}
    // edges for tags to post
    { from: "{{ include.post.url }}", to: "/tags/#{{ tag }}" },
    {% for sitetag in site.tags %}
      {% if sitetag.first == tag %}
        {% for tagpost in sitetag.last %}
          // edges for tags to posts with same tag
          { from: "/tags/#{{ tag }}", to: "{{ tagpost.url }}" },
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for post in site.posts %}
    {% if include.post.book != nil %}
      {% if post.book == include.post.book %}
        // edges for source to posts with the same source
        { from: "/sources/#{{ post.book }}", to: "{{ post.url }}" },
      {% endif %}
    {% endif %}
    // edges for backlinks
    {% if post.content contains md_link_url %}
      { from: "{{ post.url }}", to: "{{ include.post.url }}" },
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.posts %}
    {% for tag in post.tags %}
      { from: "{{ post.url }}", to: "/tags/#{{ tag }}" },
    {% endfor %}
  {% endfor %}
{% endif %}
  ];
// read the comma-separated list of ids from the session storage key sessionPath
// iterate through the edgeData and set the color to red if the 'from' and 'to' are in the sessionPath list
  var sessionPath = window.sessionStorage.getItem('sessionPath');
  if (sessionPath) {
    var urls = sessionPath.split(',');
    for (var i = 0; i < edgeData.length; i++) {
      if (urls.includes(edgeData[i].from) && urls.includes(edgeData[i].to)) {
        edgeData[i].color = "#DA291C";
      }
    }
  }
  var nodes = new vis.DataSet(nodeData);
  var edges = new vis.DataSet(edgeData);
{% if include.post %}
  var container = document.getElementById("postnetwork");
{% else %}
  var container = document.getElementById("mynetwork");
{% endif %}
  var data = {
    nodes: nodes,
    edges: edges,
  };
  var options = {
{% unless include.post %}
      physics: {
        barnesHut: {
          gravitationalConstant: -80000,
          springConstant: 0.05,
          springLength: 100,
          avoidOverlap: 0.5,
        },
      },
{% endunless %}
      interaction: {
        tooltipDelay: 100,
      },
      edges: {
        selectionWidth: 2,
        color: "#004B87",
        smooth: {
          enabled: false,
        },
      },
      groups: {
        tags: {
          color: {
            background: '#F37021',
          },
        },
        posts: {
          color: {
            background: '#96D0E5',
          },
        },
      },
  };
  var network = new vis.Network(container, data, options);
  network.on("doubleClick", function (params) {
    if (params.nodes.length > 0) {
      window.location.href = params.nodes[0];
    }
  });
}
window.addEventListener('load', prepareNetwork);
</script>
