<div class="post-list-item {% if include.post.image %}lazyload" data-src="{{include.post.image}}{% endif %}">
  <div class="post-list-item-details">
    <p class="post-list-item-title">
      <a href="{{include.post.url}}">
          {% if include.post.hide_title %}
          {{ include.post.content | strip_html | strip | escape | truncate: 70}}
          {% else %}
          {{ include.post.title }}
          {% endif %}
      </a>
    </p>
    <p class="post-list-item-description">
      {% if include.post.description %}
        {{ include.post.description }}
      {% elsif include.post.hide_title %}
        {% if include.post.author %}
        from {{ include.post.author }}
        {% endif %}
      {% else %}
        {{ include.post.content | strip_html | strip | escape | truncate: 70}}
      {% endif %}
      {% if include.dated %}
        <br>
        <time class="dt-published time-relative" datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: '%Y, %B %d' }}</time>
      {% endif %}
    </p>
  </div>
</div>
