<div class="reference">
  <h3 class="">
  Reference
  </h3>
  <ul class="filed">
      <!-- Loop through page categories and print them in tags -->
      {%- for tag in page.tags -%}
          <li class="filed">
              <a href="/search/?q=%27{{ tag }}&keys=tags" class="">{{ tag }}</a>
          </li>
      {%- endfor -%}
      {%- if page.book -%}
          <li class="filed source">
              <a href="/search/?q=%27{{ page.book }}&keys=book" class="">{{ page.book_title }}</a>
          </li>
      {%- endif -%}
      {%- if page.author_id -%}
          <li class="filed source">
              <a href="/search/?q=%27{{ page.author_id }}+%7C+%27%22{{page.author}}%22" class="">{{ page.author }}</a>
          </li>
      {%- endif -%}
      {%- if page.date -%}
      <li class="filed date">
        <a href="/search/?q=%27{{ page.date | date: '%Y-%m-%d' }}">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y, %B %d, %A' }}</time>
        </a>
      </li>
      {%- endif -%}
      <li class="filed edit">
      {%- if page.readwise_url -%}
        <a id="edit-link" href="{{ page.readwise_url }}" target="_blank" rel="noopener noreferrer">Edit</a>
      {%- else -%}
        <a id="edit-link" href="{{ page.path | prepend: site.repo_edit_url }}" target="_blank" rel="noopener noreferrer">Edit</a>
      {%- endif -%}
      </li>
  </ul>
</div>
