<div class="reference">
  <h3 class="">
  Reference
  </h3>
  <ul class="filed">
      {% if page.categories %}
      {% assign cat_acc = "" %}
      <li class="filed category">
      {% for category in page.categories %}
          <a href="/{{cat_acc}}{{ category | slugify }}">{{ category  | capitalize }}</a>
            {%- if forloop.last == false -%}
            &nbsp;/
            {%- endif -%}
          {% assign cat_acc = cat_acc | append: category | slugify | append: "/" %}
      {%- endfor -%}
      </li>
      {%- endif -%}
      {%- if page.tags.size > 0 -%}
      <li class="filed">
      {%- for tag in page.tags -%}
          <a href="/search/?q=%27{{ tag }}&keys=tags">{{ tag }}</a>
            {%- if forloop.last == false -%}
            ,&nbsp;
            {%- endif -%}
      {%- endfor -%}
      </li>
      {% endif %}
      {%- if page.book -%}
      <li class="filed source">
          <a href="/search/?q=%27{{ page.book }}&keys=book">{{ page.book_title }}</a>
      </li>
      {%- endif -%}
      {%- if page.author_id -%}
      <li class="filed author">
          <a href="/search/?q=%27{{ page.author_id }}+%7C+%27%22{{page.author}}%22">{{ page.author }}</a>
      </li>
      {%- endif -%}
      {%- if page.date -%}
      {%- assign date_after = page.date | date: '%Y-%m-%d' -%}
      {%- assign date_before = page.date | date: '%s' | plus: 86400 | date: '%Y-%m-%d' -%}
      <li class="filed date">
        <a href="/search/?q=*&type=post&after={{ date_after }}&before={{ date_before }}">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y, %B %d, %A' }}</time>
        </a>
      </li>
      <li class="filed permalink">
        <a href="{{ page.url }}" class="permalink" title="Permanent link to this page">Permalink</a> to <code>{{page.serial_number}}</code>
      </li>
      <li class="filed insight">
        <a href="/insight?post={{ page.url | url_encode }}" class="insight" title="See if AI has insight about this post">Insight</a>
      </li>
      {%- endif -%}
      <li class="filed edit print-hidden">
      {%- if page.readwise_url -%}
        <a id="edit-link" href="{{ page.readwise_url }}" target="_blank" rel="noopener noreferrer">Edit</a>
      {%- else -%}
        <a id="edit-link" href="{{ page.path | prepend: site.repo_edit_url }}" target="_blank" rel="noopener noreferrer">Edit</a>
      {%- endif -%}
      </li>
  </ul>
  {%- if page.previous or page.next -%}
  <table class="next-prev-posts print-hidden">
      <thead>
    <tr>
      <td style="text-align: left; width: 50%;">
          <small>&larr; Previous</small>
      </td>
      <td style="text-align: right; width: 50%;">
          <small>Next &rarr;</small>
      </td>
    </tr>
        </thead>
    <tr>
      <td style="text-align: left; width: 50%;">
        {%- if page.previous -%}
        <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        {%- endif -%}
      </td>
      <td style="text-align: right; width: 50%;">
        {%- if page.next -%}
        <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        {%- endif -%}
      </td>
    </tr>
  </table>
  {%- endif -%}
</div>
