{%- if page.rating -%}
  <div class="review-metadata">
    <h3 class="">
      Rating: {%- include PostRating.html post=page -%}
    </h3>
    <cite class="source">
      <p>
        {%- if page.imdb_id -%}
          <a href="https://www.imdb.com/title/{{page.imdb_id}}/" target="_blank" class="imdb-link">
            View film on IMDB</a>
          or
          <a href="https://letterboxd.com/imdb/{{page.imdb_id}}/" target="_blank" class="letterboxd-link">
            View film on Letterboxd</a>
        {%- elsif page.tmdb_id -%}
        <a href="https://www.themoviedb.org/movie/{{page.tmdb_id}}" target="_blank" class="tmdb-link">
            View film on TMDB</a>
          or
          <a href="https://letterboxd.com/tmdb/{{page.tmdb_id}}/" target="_blank" class="letterboxd-link">
            View film on Letterboxd</a>
        {%- elsif page.letterboxd_id -%}
          <a href="https://letterboxd.com/film/{{page.letterboxd_id}}/" target="_blank" class="letterboxd-link">
            View film on Letterboxd</a>
        {%- endif -%}
        {%- if page.book_asin -%}
        <a href="https://www.amazon.com/foo/dp/{{page.book_asin}}/" target="_blank" class="amazon-link">
            View book on Amazon
          </a>
        {%- endif -%}
      </p>
    </cite>
  </div>
{%- endif -%}
