<div class="season">
  {% assign month = site.time | date: "%m" | plus: 0 %}
  <div class="season-row">
    <p class="season-column">
      I'm in a season of&nbsp;
    </p>
    <ul class="josh-seasons season-column">
      <li>
        {{ site.data.seasons[month].name }} {{ site.data.seasons[month].emoji }}
      </li>
      {% for season in site.data.josh_seasons %}
        <li>
          {{ season }}.
        </li>
      {% endfor %}
      <li class="season-cover"></li>
    </ul>
  </div>
  <div class="season-row">
    <p class="season-column">
    </p>
    <p class="season-column">
      Seasonss pass and return.
    </p>
  </div>
</div>
