{%- comment -%}
 *
 * This file contains the markup for the links that refer back to this file.
 * You can find the final thing at the end of every post inside a small greyish box
 *
{%- endcomment -%}

<div class="post-social">
    <h3 class="">Social</h3>
    <p class="social-kudos">
      Kudos: <button class="tinylytics_kudos"></button>
    </p>
    {%- if page.mastodon_social_status_url -%}
    <p class="social-mastodon">
      Comment <a href="{{page.mastodon_social_status_url}}" target="_blank">
        on Mastodon
      </a>
    </p>
    {%- endif -%}
</div>
