<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  <div class="row home">
    <div class="column navigation">
      <header class="content centered">
          <div class="contour-filler"></div>
        {%- include Masthead.html -%}
      </header>
    </div>
    <div class="column">
      <article class="content">
        <section class="home">
            {{ content }}
            <div id="toc-and-metadata">
                <ul id="toc" class="section-nav">
                    <li class="toc-entry toc-h2"><a href="about">About Josh</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="about-this-site">About This Site</a>
                            </li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="subscribe">Subscribe or Follow</a></li>
                    <li class="toc-entry toc-h2"><a href="blog">Blog</a>
                        <ul>
                            <li class="toc-entry toc-h2"><a href="blog/attending">Concerts</a></li>
                            <li class="toc-entry toc-h2"><a href="blog/reading">Books</a></li>
                            <li class="toc-entry toc-h2"><a href="blog/watching">Movies</a></li>
                            <li class="toc-entry toc-h2"><a href="blog/traveling">Travel</a></li>
                            <li class="toc-entry toc-h2"><a href="blog/working">Desks</a></li>
                            <li class="toc-entry toc-h2"><a href="blog/listening">Music</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="notes">Notes</a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="replies">Replies & Threads</a></li>
                    <li class="toc-entry toc-h2"><a href="exercise">Exercise Log</a></li>
                    <li class="toc-entry toc-h2"><a href="talks">Talks</a></li>
                    <li class="toc-entry toc-h2"><a href="podcasts">Podcasts</a></li>
                    <li class="toc-entry toc-h2"><a href="on-this-day">On This Day</a>
                    </li>
                    <li class="toc-entry toc-h2">Tools
                        <ul>
                            <li class="toc-entry toc-h2"><a href="search">Search</a></li>
                            <li class="toc-entry toc-h2"><a href="random">Random Post</a></li>
                            <li class="toc-entry toc-h2"><a href="insight">Insight</a></li>
                            <li class="toc-entry toc-h2"><a href="heatcal">Heatmap Calendar</a></li>
                            <li class="toc-entry toc-h2"><a href="network">Network Graph</a></li>
                            <li class="toc-entry toc-h2"><a href="guestbook">Guestbook</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                <h2>Recent Posts</h2>
              {%- for post in site.posts limit:3 -%}
              {%- include PostListItem.html post=post -%}
              {%- endfor -%}
              <h2>Popular Posts</h2>
              {%- for post in site.tags['popular'] limit:3 -%}
              {%- include PostListItem.html post=post -%}
              {%- endfor -%}
        </section>
        {%- include Footer.html -%}
      </article>
    </div>
  </div>
</body>
</html>
