<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
{% assign month = site.time | date: "%m" | plus: 0 %}
{% assign build_time = site.time | date_to_xmlschema %}
<body>
  <div class="row home">
    <div class="column navigation">
      <header class="content centered">
          <div class="contour-filler"></div>
        {%- include Masthead.html -%}
      </header>
    </div>
    <div class="column">
      <article class="content">
        <section class="home">
            <div id="toc-and-metadata">
                {{ content }}
                <h2>Recent Posts</h2>
              {%- for post in site.posts limit:3 -%}
              {%- include PostListItem.html post=post -%}
              {%- endfor -%}
              {% assign popular_posts = site.posts | where: "popular", true %}
              <h2>Popular Posts</h2>
              {%- for post in popular_posts limit:3 -%}
              {%- include PostListItem.html post=post -%}
              {%- endfor -%}
              <p>or dip into something <a href="/random">at random</a>.</p>
              <h2>MORE, OTHER, & ADDITIONAL, AND ETCETERA, AND MORE.</h2>
                <ul id="toc" class="section-nav">
                    <li class="toc-entry toc-h2"><a href="about">About Josh</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="about-this-site">About This Site</a>
                            </li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="subscribe">Subscribe or Follow</a></li>
                    <li class="toc-entry toc-h2"><a href="blog">Blog</a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="notes">Notes</a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="replies">Replies & Threads</a></li>
                    <li class="toc-entry toc-h2"><a href="talks">Talks</a></li>
                    <li class="toc-entry toc-h2"><a href="podcasts">Podcasts</a></li>
                    <li class="toc-entry toc-h2"><a href="guestbook">Guestbook</a></li>
                    <li class="toc-entry toc-h2"><a href="insight">Insight</a></li>
                    <li class="toc-entry toc-h2"><a href="counter">Counter</a></li>
                    <li class="toc-entry toc-h2"><a href="search">Search</a></li>
                    <li class="toc-entry toc-h2"><a href="network">Network Graph</a></li>
                    <li class="toc-entry toc-h2"><a href="random">Random Post</a></li>
                    <li class="toc-entry toc-h2">{{ site.data.seasons[month].name }} {{ site.data.seasons[month].emoji }}</li>
                    <li class="toc-entry toc-h2">{{site.version}}</li>
                    <li class="toc-entry toc-h2">Updated: <time datetime="{{ build_time }}" class="time-relative">{{ build_time }}</time></li>
                </ul>
            </div>
        </section>
        {%- include Footer.html -%}
      </article>
    </div>
  </div>
</body>
</html>
