<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}

<body>
  <div class="with-sidebar">
    <header>
        {%- include Header.html -%}
        <div class="page-title display-on-mobile">
          {%- if page.hide_title != true -%} 
              <h1 class="p-name">{{page.title}}</h1>
          {%- endif -%}
          {%- if page.subtitle -%} 
              <p class="subtitle">{{page.subtitle}}</p>
          {%- endif -%}
        </div>
        {%- include Toc.html -%}
    </header>
    <article class="">
        <section>
            <div class="page-title hidden-on-mobile">
              {%- if page.hide_title != true -%} 
                  <h1 class="p-name">{{page.title}}</h1>
              {%- endif -%}
              {%- if page.subtitle -%} 
                  <p class="subtitle">{{page.subtitle}}</p>
              {%- endif -%}
            </div>
            {%- include Content.html -%}
            {%- include Backlinks.html -%}
        </section>
        {%- include Footer.html -%}
    </article>
  </div>
<script async src="/assets/js/webmention.js"></script>
</body>
</html>
