<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  <div class="row">
    <div class="column accent centered">
      <header class="content">
        {% if page.image %}
          <img class="cover-image" src="{{ page.image }}" alt="{{ page.title }}">
        {% elsif page.emoji %}
          <div class="cover-image-emoji">{{ page.emoji }}</div>
        {% else %}
          <div class="cover-image-emoji">📓</div>
        {% endif %}
      {%- if page.description -%}
          <p class="description">{{page.description}}</p>
      {%- endif -%}
      </header>
    </div>
    <div class="column">
      <article class="content">
        {%- include Nav.html -%}
        {%- include Toc.html -%}
        <section class="h-entry page">
            {% if page.image %}
              <div class="print-only print-header-image">
                <img class="no-lightbox print-only" src="{{ page.image }}" alt="{{ page.title }}">
              </div>
            {% endif %}
            <div class="page-title">
              {%- if page.hide_title != true -%} 
                  <h1 class="p-name">{{page.title}}</h1>
              {%- endif -%}
            </div>
          {%- include Content.html -%}
        </section>
        {%- include Footer.html -%}
      </article>
    </div>
  </div>
</body>
</html>
