<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Josh Beckman's Notes" property="og:site_name"/>
    <meta content="{{ site.url }}/about/" property="article:author">

    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <title>{{site.heading}}: {{page.title}}</title>
    {%- else -%}
    <meta content="{{ site.heading }}" property="og:title">
    <title>{{site.heading}}</title>
    <meta content="website" property="og:type">
    {%- endif -%}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- if page.content-type == "notes" 
        or page.content-type == "post"  -%}
    <meta content="{{ page.content | strip_html | strip | escape | truncate: 248}}" property="og:description">
    {%- else -%}
    <meta content="Notes and thoughts collected from online articles, books, and elsewhere" property="og:description">
    {%- endif -%}
    {%- if page.cover_image_url -%}
    <meta property="og:image" content="{{page.cover_image_url}}">
    {%- else -%}
    <meta property="og:image" content="{{site.url}}/assets/img/notes-img.png">
    {%- endif -%}
    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.url}}/assets/img/profile.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fffff8">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16"/>
    <link href="/assets/css/tufte.css" rel="stylesheet" media="all" class="default" />
    <link href="/assets/css/ibm-plex.min.css" rel="stylesheet" media="all" class="default" />
    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    {% feed_meta %}
    <link rel="me" href="https://mastodon.social/@joshbeckman"\>
    <link rel="me" href="https://github.com/joshbeckman"\>
    <link rel="me" href="mailto:josh@joshbeckman.org"\>
    <link rel="webmention" href="https://webmention.io/notes.joshbeckman.org/webmention" />
    <link rel="pingback" href="https://webmention.io/notes.joshbeckman.org/xmlrpc" />
</head>

<body>
    <article class="">
        {%- include Header.html -%}
        {%- if page.hide_title != true -%} 
            <h1 class="p-name">{{page.title}}</h1>
        {%- endif -%}
        {%- if page.subtitle -%} 
            <p class="subtitle">{{page.subtitle}}</p>
        {%- endif -%}
        {%- include Feed.html -%}

        {%- if page.content-type == "notes" 
            or page.content-type == "post"  -%}
        <section class="h-entry note-post">
          <section class="u-in-reply-to h-cite">
            {%- include Content.html -%}
          </section>
            {%- include Backlinks.html -%}
            {%- include SameSource.html -%}
            {%- include Related.html -%}
        </section>
        {%- endif -%}
        {%- if page.content-type == "eg" -%}
        <section>
            {%- include Content.html -%}
        </section>
        {%- endif -%}
        {%- include Comments.html -%}
        {%- include Footer.html -%}
    </article>
    <!-- Load KaTeX -->
    <script async src="/assets/js/webmention.js"></script>
</body>
</html>
