<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  <div class="container">
      <header class="header">
          <div class="titles">
              {%- include Masthead.html -%}
              <p class="site-subtitle">{{ site.description }}</p>
          </div>
      </header>
      <main class="content {% for category in page.categories %}{{category}} {% endfor %}">
          <article class="text">
              <h1 class="p-name title">{{page.title}}</h1>
              {%- include BookMeta.html -%}
              {%- include ReviewMeta.html -%}
              {%- include InReplyTo.html -%}
              {%- include Content.html -%}
              {%- include Reference.html -%}
              {%- include Backlinks.html -%}
              {%- include Social.html -%}
              <div class="widgets">
                  <h2 class="print-hidden">Widgets</h2>
                  {%- include NetworkDetails.html -%}
              </div>
          </article>
      </main>
      {%- include Footer.html -%}
  </div>
  {%- include Network.html post=page -%}
</body>
</html>
