<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  <div class="row">
    <div class="column accent centered">
      <header class="content">
        {% if page.image %}
          <img class="cover-image" src="{{ page.image }}" alt="{{ page.title }}">
        {% else %}
          {%- include Masthead.html -%}
        {% endif %}
      {%- if page.description -%}
          <p class="description">{{page.description}}</p>
      {%- endif -%}
      </header>
    </div>
    <div class="column">
      <article class="content">
        {%- include Nav.html -%}
        {%- include Toc.html -%}
        <section class="h-entry {% for category in page.categories %}{{category}} {% endfor %}">
            {% if page.image %}
              <div class="print-only print-header-image">
                <img class="no-lightbox print-only" src="{{ page.image }}" alt="{{ page.title }}">
              </div>
            {% endif %}
            <div class="page-title">
              {%- if page.hide_title != true -%} 
                  <h1 class="p-name">{{page.title}}</h1>
              {%- endif -%}
            </div>
          {%- include BookMeta.html -%}
          {%- include ReviewMeta.html -%}
          <section class="u-in-reply-to h-cite">
            {%- include Content.html -%}
          </section>
            {%- include Backlinks.html -%}
            {%- include SameSource.html -%}
            {%- include Related.html -%}
        </section>
        {%- include Footer.html -%}
      </article>
    </div>
  </div>
  <script async src="/assets/js/webmention.js"></script>
</body>
</html>
