name: Deploy Jekyll site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]
    paths:
      - 'blog/**'
      - 'notes/**'
      - 'replies/**'
      - 'exercise/**'
      - 'assets/**'
      - '_config.yml'
      - '*.md'
      - '*.html'
      - 'plugins/**'
      - 'frametags/**'
      - '_includes/**'
      - '_data/**'
      - '_layouts/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Allows this workflow to be triggered by other workflows
  workflow_call:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  actions: read

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Output Git Info
        run: |
          echo "Current branch: $(git rev-parse --abbrev-ref HEAD)"
          echo "Latest commit hash: $(git rev-parse HEAD)"
          echo "Latest commit message: $(git log -1 --pretty=%B)"
          echo "Author: $(git log -1 --pretty=%an)"
          echo "Committer: $(git log -1 --pretty=%cn)"
          echo "List of changed files:"
          git diff-tree --no-commit-id --name-only -r HEAD
          git describe --tags --long
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Import Readwise Daily Review
        id: import_readwise_review
        run: bundle exec utilities/import_readwise_review
        env:
          READWISE_TOKEN: ${{ secrets.READWISE_TOKEN }}
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        working-directory: ${{ github.workspace }}
        env:
          JEKYLL_ENV: production
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install Node dependencies
        run: npm install
      - name: Build Lunr search index
        run: ./utilities/build_lunr_index
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v4

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
